/* Global Styles */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  #search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-button {
    padding: 2px 16px;
    background-color: #1e88e5;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #1565c0;
}


  #body1, #body2, #body3, #body4, #body5, #body6 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #body1, #body2, #body3, #body4, #body5, #body6 {
    background: linear-gradient(0deg, grey 50%, black 80%);

  }

  #header-1 {
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    background-size: cover;
    height: 65vh;
    text-align: center;
    scroll-behavior: smooth;
  }

  #header-2 {
    position: relative;
    margin-top: 55px;
    overflow: hidden;
    background-size: cover;
    height: 65vh;
    text-align: center;
    scroll-behavior: smooth;
  }

  #header-3{
    position: relative;
    overflow: hidden;
    margin-top: 55px;
    background-size: cover;
    height: 65vh;
    text-align: center;
    scroll-behavior: smooth;
  }

  #backgroundimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  #header-2 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #header-3 img {
    width: 100%;
    height: auto;
    margin: -40px auto 0; 
    z-index: -1;
  }
  

  #header-1 h3 {
    margin: 0.5rem 0;
    color: white;
    margin-top: 10px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    flex-direction: column;
    z-index: 9999;
  }

  #header-0 {
    position: fixed;
    /* Add other desired styles */
  }
  
  .header-bar {
    height: 3px;
    background-color: black;
  }

  #logo-link img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Maintain aspect ratio */
    margin-left: 1%;
  }

  nav ul li {
  display: inline-block;
  margin-right: 10px; /* Adjust the spacing between navigation items */
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* Set the desired color for navigation links */
}

  #logo2 {
    image-resolution: high;
    float: center;
    width:600px;
    margin-top: 70px;
  }


  @keyframes drop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  #header-img1 {
    float: right;
    padding-top: 20px;
    padding-right: 15px;
    animation: drop 2s ease-in-out;
    width: 300px;
    height: 400px
  }
  
  #header-img2 {
    float: left;
    padding-top: 20px;
    padding-left: 15px;
    animation: drop 2s ease-in-out;
    width: 300px;
    height: 400px
  }
  
  nav {
    padding-left: 400px;
    float: center;
  }
  
  
  #menu-list {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
  }
  
  #menu-list a {
    font-weight: bolder;
    color: white;
    margin: 0 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  #menu-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
  }
  
  /* Section Styles */
  section, #section2, #section3, #section4, #section5 {
    padding: 2rem;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  /* Styling for Popular Movies section */
#movie-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .movie1, .movie2, .movie3 {
    width: 20%;
    margin-bottom: 2rem;
  }
  
  .movie1 img, .movie2 img, .movie3 img {
    width: 50%;
    height: auto;
  }

  .movie1 h3, .movie2 h3, .movie3 h3 {
    color: #0c0c0d;
    margin-top: 1rem;
  }
  
  .movie1 p, .movie2 p, .movie3 p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  
  .movie1 a, .movie2 a, .movie3 a {
    display: inline-block;
    margin-top: 0.5rem;
    background-color: #0072ff;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .movie1 a:hover, .movie2 a:hover, .movie3 a:hover{
    background-color: #0050d1;
  }
  
  .movie1 span, .movie2 span, .movie3 span {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #0072ff;
  }
  
  
  /* Styling for Popular TV Shows section */
  #show-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .show1, .show2, .show3 {
    width: 20%;
    margin-bottom: 2rem;
  }
  
  .show1 img, .show2 img, .show3 img {
    width: 50%;
    height: auto;
  }
  
  .show1 h3, .show2 h3, .show3 h3 {
    color: #0c0c0d;
    margin-top: 1rem;
  }
  
  .show1 p, .show2 p, .show3 p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  
  .show1 a, .show2 a, .show3 a {
    display: inline-block;
    margin-top: 0.5rem;
    background-color: #0072ff;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .show1 a:hover, .show2 a:hover, .show3 a:hover {
    background-color: #0050d1;
  }
  
  .show1 span, .show2 span, .show3 span {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #0072ff;
  }
  
  #movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .movie4, .movie5, .movie6, .movie7 {
    width: 20%;
    margin-bottom: 2rem;
  }

  .movie4 img {
    width: 55%;
    height: 78%;
  }

  .movie5 img, .movie6 img, .movie7 img {
    width: 50%;
    height: auto;
  }

  #shows {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .show4, .show5, .show6, .show7 {
    width: 20%;
    margin-bottom: 2rem;
  }

  .show4 img, .show5 img, .show6 img, .show7 img {
    width: 50%;
    height: auto;
  }
 
#section3 .dune, .thematrixresurrections, .peacemaker, .abbottelementary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  background-color: rgb(38, 41, 68);
  color: white;
  height: auto;
  width: 100%;
  padding: 10px;
  position: relative;
}

#section3 .thebatman, .kingrichard, .nightcourt, .thesexlivesofcollegegirls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  background-color:whitesmoke;
  color: black;
  height: auto;
  width: 100%;
  padding: 10px;
  position: relative;
}


#section3 .dune h2, .thematrixresurrections h2, .peacemaker h2, .abbottelementary h2 {
  float: left;
  margin-right: 20px;
  margin-top: 0px;
}

#section3 .thebatman h2, .kingrichard h2, .nightcourt h2, .thesexlivesofcollegegirls h2 {
  float: right;
  margin-left: 20px;
  margin-top: 0px;
}

#section3 .dune h3, .thematrixresurrections h3, .peacemaker h3, .abbottelementary h3 {
  float: left;
  margin-right: 20px;
  margin-top: 0px;
}

#section3 .thebatman h3, .kingrichard h3, .nightcourt h3, .thesexlivesofcollegegirls h3 {
  float: right;
  margin-left: 20px;
  margin-top: 0px;
}

#section3 .dune p, .thematrixresurrections p, .peacemaker p, .abbottelementary p {
  text-align: start;
  flex: 1;
}

#section3 .thebatman p, .kingrichard p, .nightcourt p, .thesexlivesofcollegegirls p {
  text-align: right;
  float: right;
  flex: 1;
}

#section3 .dune video, .thematrixresurrections video, .peacemaker video, .abbottelementary video {
  position: absolute;
  top: 50px;
  left: 400px;
  width: 450px;
  height: auto;
  filter: brightness(150%);
} 

#section3 .thebatman video, .kingrichard video, .thesexlivesofcollegegirls video {
  position: absolute;
  top: 50px;
  right: 600px;
  width: 450px;
  height: auto;
  filter: brightness(150%);
}

#section3  .nightcourt video{
  position: absolute;
  top: 40px;
  right: 630px;
  width: 400px;
  height: auto;
  filter: brightness(150%);
}
  
  a[href='#'] {
    background-color: #f9ac00;
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  a[href='#']:hover {
    background-color: #ffbf2b;
  }
  
  /* Footer Styles */
  footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 20px;
    color: #777;
    margin-bottom: 10px;
    margin-left: 10px;
}

#social-media-links {
    margin-top: 20px;
    margin-right: 10px;
}

#social-media-links a {
    display: inline-block;
    margin-right: 10px;
    color: #555;
    font-size: 28px;
    transition: color 0.3s;
}

#social-media-links a:hover {
    color: #007bff;
}